body{
    font-family: 'Lora', serif;
    color: #1C1C1C;
    font-size: 16px;
    background-color: 	#F8F9FA;
}

/* navbar details */
 .navbar {
      height: 140px;
      font-family: 'Lora', serif;
      background-color: #0A3D62;
    }
    .navbar-nav .nav-link {
      color: #ffffff;
      margin: 0 10px;
      padding: 8px 12px;
      font-weight: 500;
    }
    .navbar-nav .nav-link:hover {
      background-color: #227093;
      border-radius: 6px;
      color: #fff;
    }
    .navbar-brand img {
      height: 180px;
      width: 230px;
    }
    .offer-btn {
      background-color: #38A1DB;
      color: #fff;
      width: 100px;
      margin-left: 8px;
      text-align: center;
      padding: 8px 14px;
      border-radius: 6px;
      font-weight: 500;
      text-decoration: none;
    }
    .offer-btn:hover {
      background-color: #227093;
    }

/* section details */
.section-bg{
  background-color: #E9F1F7;
}

/* heading details */
.heading_1 {
  color: #3C6382; /* Deep Blue */
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
}

.heading_2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 600;
  color: #3C6382;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 500;
  color: #3C6382;
}

.paragraph{
  color: 	#2F2F2F; /* Charcoal for readability */
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 1.7;
}

/* button details */
.btn-primary {
  background-color: 	#38A1DB !important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: 	#227093 !important;
}

/* get involved page styles */
.form-container {
      background-color: white;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .form-heading {
      font-weight: bold;
    }

    textarea {
      resize: none;
    }