body{
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: 	#F8F9FA;
    padding-top: 150px;
    color: #1C1C1C;
}

/* Color of the links BEFORE scroll */
.navbar {
  background-color: 			#0A3D62;
  color: white;
  font-family: 'Lora', serif;
}

.section-bg{
  background-color: #E9F1F7;
}

.navbar-brand {
  height: 7.5rem;
}


.nav-item{
  padding: 10px;
}

/* footer details */
.footer{
  text-align: center;
  height: 70px;
  color: #CCCCCC;
  font-family: 'Lora', serif;
  background-color: #0A3D62;
}

.social_media_links{
    font-family: 'Lora', serif;
  background-color: #0A3D62;
}

/* heading details */
.heading_1 {
  color: #3C6382; /* Deep Blue */
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
}

.heading_2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 600;
  color: #3C6382;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 500;
  color: #3C6382;
}

.paragraph{
  color: #1A1A1A; /* Charcoal for readability */
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 1.7;
}

/* button details */
.btn-primary {
  background-color: 	#38A1DB !important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: 	#227093 !important;
}

/* get involved page styles */
.form-container {
      background-color: white;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .form-heading {
      font-weight: bold;
    }

    textarea {
      resize: none;
    }